<!DOCTYPE html>
html lang="pt-BR"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width"
    title
      <${input.title}/>
  body
    div class="before-foot"
      navbar id="top"
      div.content
        <${input.content}/>
    foot
