<!DOCTYPE html>
html lang="pt-BR"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width"
    title
      <${input.title}/>
  body
    navbar
    <!-- header
      img.logo src="./logo.png" alt="marko logo"
      h1
        <${input.title}/>
      nav.menu
        a href="/" -- home
        a href="/hello/routing" -- routes
        a href="/layouts" -- layout -->
    div.content
      <${input.content}/>
