@import '../common/style.less';

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: @lighter-shades;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  background: @lighter-shades;
  margin: 0;
  padding: 0;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: @dark-shades;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

a {
  &.is-light {
    color: @light-shades;
  }
  color: @main-brand;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  &.is-light {
    color: @lighter-shades;
  }
  text-decoration: underline;
}

header {
  padding: 2em;
  border-bottom: 1px solid @light-shades;
  background: @main-brand;
  text-align: center;
}

header a {
  color: @lighter-shades;
}

nav.menu a {
  display: inline-block;
  padding: 0.5em 1em;
}

img.logo {
  width: 160px;
  height: 88px;
  margin-bottom: 1em;
}

h1 {
  font-size: 2.5em;
  font-weight: 300;
  margin: 0;
}

h2 {
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 1em;
}

p {
  line-height: 1.6;
}

.content {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  li {
    &+li {
      margin-top: 0.25em;
    }
  }

  p {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  dl {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  ol {
    &:not(:last-child) {
      margin-bottom: 1em;
    }

    list-style-position: outside;
    margin-left: 2em;
    margin-top: 1em;

    &:not([type]) {
      list-style-type: decimal;
    }

    &:not([type]).is-lower-alpha {
      list-style-type: lower-alpha;
    }

    &:not([type]).is-lower-roman {
      list-style-type: lower-roman;
    }

    &:not([type]).is-upper-alpha {
      list-style-type: upper-alpha;
    }

    &:not([type]).is-upper-roman {
      list-style-type: upper-roman;
    }
  }

  ul {
    &:not(:last-child) {
      margin-bottom: 1em;
    }

    list-style: disc outside;
    margin-left: 2em;
    margin-top: 1em;

    ul {
      list-style-type: circle;
      margin-top: 0.5em;

      ul {
        list-style-type: square;
      }
    }
  }

  blockquote {
    &:not(:last-child) {
      margin-bottom: 1em;
    }

    background-color: @lighter-shades;
    border-left: 5px solid @light-shades;
    padding: 1.25em 1.5em;
  }

  pre {
    &:not(:last-child) {
      margin-bottom: 1em;
    }

    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    padding: 1.25em 1.5em;
    white-space: pre;
    word-wrap: normal;
  }

  table {
    &:not(:last-child) {
      margin-bottom: 1em;
    }

    width: 100%;

    td {
      border: 1px solid @light-shades;
      border-width: 0 0 1px;
      padding: 0.5em 0.75em;
      vertical-align: top;
    }

    th {
      border: 1px solid @light-shades;
      border-width: 0 0 1px;
      padding: 0.5em 0.75em;
      vertical-align: top;
      color: @dark-shades;

      &:not([align]) {
        text-align: left;
      }
    }

    thead {
      td {
        border-width: 0 0 2px;
        color: @dark-shades;
      }

      th {
        border-width: 0 0 2px;
        color: @dark-shades;
      }
    }

    tfoot {
      td {
        border-width: 2px 0 0;
        color: @dark-shades;
      }

      th {
        border-width: 2px 0 0;
        color: @dark-shades;
      }
    }

    tbody {
      tr {
        &:last-child {
          td {
            border-bottom-width: 0;
          }

          th {
            border-bottom-width: 0;
          }
        }
      }
    }
  }

  h1 {
    color: @dark-shades;
    font-weight: 600;
    line-height: 1.125;
    font-size: 2em;
    margin-bottom: 0.5em;

    &:not(:first-child) {
      margin-top: 1em;
    }
  }

  h2 {
    color: @dark-shades;
    font-weight: 600;
    line-height: 1.125;
    font-size: 1.75em;
    margin-bottom: 0.5714em;

    &:not(:first-child) {
      margin-top: 1.1428em;
    }
  }

  h3 {
    color: @dark-shades;
    font-weight: 600;
    line-height: 1.125;
    font-size: 1.5em;
    margin-bottom: 0.6666em;

    &:not(:first-child) {
      margin-top: 1.3333em;
    }
  }

  h4 {
    color: @dark-shades;
    font-weight: 600;
    line-height: 1.125;
    font-size: 1.25em;
    margin-bottom: 0.8em;
  }

  h5 {
    color: @dark-shades;
    font-weight: 600;
    line-height: 1.125;
    font-size: 1.125em;
    margin-bottom: 0.8888em;
  }

  h6 {
    color: @dark-shades;
    font-weight: 600;
    line-height: 1.125;
    font-size: 1em;
    margin-bottom: 1em;
  }

  dd {
    margin-left: 2em;
  }

  figure {
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;

    &:not(:first-child) {
      margin-top: 2em;
    }

    &:not(:last-child) {
      margin-bottom: 2em;
    }

    img {
      display: inline-block;
    }

    figcaption {
      font-style: italic;
    }
  }

  sup {
    font-size: 75%;
  }

  sub {
    font-size: 75%;
  }

  .tabs {
    li {
      &+li {
        margin-top: 0;
      }
    }
  }
}

.notification {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  background-color: @lighter-shades;
  border-radius: 4px;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  position: relative;

  a {
    &:not(.button) {
      &:not(.dropdown-item) {
        color: currentColor;
        text-decoration: underline;
      }
    }
  }

  strong {
    color: currentColor;
  }

  code {
    background: lighten(@lighter-shades, @small-percentage);
  }

  pre {
    background: lighten(@lighter-shades, @small-percentage);

    code {
      background: transparent;
    }
  }

  >.delete {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }

  .title {
    color: currentColor;
  }

  .subtitle {
    color: currentColor;
  }

  .content {
    color: currentColor;
  }
}

.progress {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 290486px;
  display: block;
  height: 1rem;
  overflow: hidden;
  padding: 0;
  width: 100%;

  &::-webkit-progress-bar {
    background-color: lighten(@light-shades, @small-percentage);
  }

  &::-webkit-progress-value {
    background-color: #4a4a4a;
  }

  &::-moz-progress-bar {
    background-color: #4a4a4a;
  }

  &::-ms-fill {
    background-color: #4a4a4a;
    border: none;
  }

  &:indeterminate {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: moveIndeterminate;
    animation-name: moveIndeterminate;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background-color: lighten(@light-shades, @small-percentage);
    background-image: linear-gradient(to right, #4a4a4a 30%, lighten(@light-shades, @small-percentage) 30%);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 150% 150%;

    &::-webkit-progress-bar {
      background-color: transparent;
    }

    &::-moz-progress-bar {
      background-color: transparent;
    }
  }
}

code {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
  background-color: @light-shades;
  color: @snd-dark-accent;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em;
  display: inline-block;
}

pre {
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
  -webkit-overflow-scrolling: touch;
  background-color: @light-shades;
  color: @dark-shades;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal;

  code {
    background-color: transparent;
    display: block;
    color: @snd-dark-accent;
    font-size: 1em;
    padding: 0;
  }
}

.before-foot {
  min-height: calc(100vh - (@footer-height + @footer-vertical-padding));
}

.field {
  &:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}

.field.has-addons {
  display: flex;
  justify-content: flex-start;

  .control {
    &:not(:last-child) {
      margin-right: -1px;
    }

    &:not(:first-child) {
      &:not(:last-child) {
        .button {
          border-radius: 0;
        }

        .input {
          border-radius: 0;
        }

        .select {
          select {
            border-radius: 0;
          }
        }
      }
    }

    &:first-child {
      &:not(:only-child) {
        .button {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }

        .input {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }

        .select {
          select {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
          }
        }
      }
    }

    &:last-child {
      &:not(:only-child) {
        .button {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }

        .input {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }

        .select {
          select {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
          }
        }
      }
    }

    .button {
      &:not([disabled]) {
        &:hover {
          z-index: 2;
        }

        &:focus {
          z-index: 3;

          &:hover {
            z-index: 4;
          }
        }

        &:active {
          z-index: 3;

          &:hover {
            z-index: 4;
          }
        }
      }

      &:not([disabled]).is-hovered {
        z-index: 2;
      }

      &:not([disabled]).is-focused {
        z-index: 3;

        &:hover {
          z-index: 4;
        }
      }

      &:not([disabled]).is-active {
        z-index: 3;

        &:hover {
          z-index: 4;
        }
      }
    }

    .input {
      &:not([disabled]) {
        &:hover {
          z-index: 2;
        }

        &:focus {
          z-index: 3;

          &:hover {
            z-index: 4;
          }
        }

        &:active {
          z-index: 3;

          &:hover {
            z-index: 4;
          }
        }
      }

      &:not([disabled]).is-hovered {
        z-index: 2;
      }

      &:not([disabled]).is-focused {
        z-index: 3;

        &:hover {
          z-index: 4;
        }
      }

      &:not([disabled]).is-active {
        z-index: 3;

        &:hover {
          z-index: 4;
        }
      }
    }

    .select {
      select {
        &:not([disabled]) {
          &:hover {
            z-index: 2;
          }

          &:focus {
            z-index: 3;

            &:hover {
              z-index: 4;
            }
          }

          &:active {
            z-index: 3;

            &:hover {
              z-index: 4;
            }
          }
        }

        &:not([disabled]).is-hovered {
          z-index: 2;
        }

        &:not([disabled]).is-focused {
          z-index: 3;

          &:hover {
            z-index: 4;
          }
        }

        &:not([disabled]).is-active {
          z-index: 3;

          &:hover {
            z-index: 4;
          }
        }
      }
    }
  }

  .control.is-expanded {
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.field.has-addons.has-addons-centered {
  justify-content: center;
}

.field.has-addons.has-addons-right {
  justify-content: flex-end;
}

.field.has-addons.has-addons-fullwidth {
  .control {
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.field.is-grouped {
  display: flex;
  justify-content: flex-start;

  >.control {
    flex-shrink: 0;

    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 0.75rem;
    }
  }

  >.control.is-expanded {
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.field.is-grouped.is-grouped-centered {
  justify-content: center;
}

.field.is-grouped.is-grouped-right {
  justify-content: flex-end;
}

.field.is-grouped.is-grouped-multiline {
  flex-wrap: wrap;

  >.control {
    &:last-child {
      margin-bottom: 0.75rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }

  &:last-child {
    margin-bottom: -0.75rem;
  }

  &:not(:last-child) {
    margin-bottom: 0;
  }
}

.field-label {
  .label {
    font-size: inherit;
  }
}

.field-body {
  .field {
    .field {
      margin-bottom: 0;
    }
  }
}

.control {
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: left;
}

.control.has-icons-left {
  .input {
    &:focus {
      &~.icon {
        color: lighten(@dark-shades, @medium-percentage);
      }
    }

    padding-left: 2.5em;
  }

  .select {
    &:focus {
      &~.icon {
        color: lighten(@dark-shades, @medium-percentage);
      }
    }

    select {
      padding-left: 2.5em;
    }
  }

  .input.is-small {
    &~.icon {
      font-size: 0.75rem;
    }
  }

  .select.is-small {
    &~.icon {
      font-size: 0.75rem;
    }
  }

  .input.is-medium {
    &~.icon {
      font-size: 1.25rem;
    }
  }

  .select.is-medium {
    &~.icon {
      font-size: 1.25rem;
    }
  }

  .input.is-large {
    &~.icon {
      font-size: 1.5rem;
    }
  }

  .select.is-large {
    &~.icon {
      font-size: 1.5rem;
    }
  }

  .icon {
    color: @light-shades;
    height: 2.5em;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 2.5em;
    z-index: 4;
  }

  .icon.is-left {
    left: 0;
  }
}

.control.has-icons-right {
  .input {
    &:focus {
      &~.icon {
        color: lighten(@dark-shades, @medium-percentage);
      }
    }

    padding-right: 2.5em;
  }

  .select {
    &:focus {
      &~.icon {
        color: lighten(@dark-shades, @medium-percentage);
      }
    }

    select {
      padding-right: 2.5em;
    }
  }

  .input.is-small {
    &~.icon {
      font-size: 0.75rem;
    }
  }

  .select.is-small {
    &~.icon {
      font-size: 0.75rem;
    }
  }

  .input.is-medium {
    &~.icon {
      font-size: 1.25rem;
    }
  }

  .select.is-medium {
    &~.icon {
      font-size: 1.25rem;
    }
  }

  .input.is-large {
    &~.icon {
      font-size: 1.5rem;
    }
  }

  .select.is-large {
    &~.icon {
      font-size: 1.5rem;
    }
  }

  .icon {
    color: @light-shades;
    height: 2.5em;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 2.5em;
    z-index: 4;
  }

  .icon.is-right {
    right: 0;
  }
}

.control.is-loading.is-small {
  &:after {
    font-size: 0.75rem;
  }
}

.control.is-loading.is-medium {
  &:after {
    font-size: 1.25rem;
  }
}

.control.is-loading.is-large {
  &:after {
    font-size: 1.5rem;
  }
}

.radio {
  cursor: pointer;
  display: inline-block;
  line-height: 1.25;
  position: relative;

  input {
    cursor: pointer;
  }

  &:hover {
    color: @dark-shades;
  }

  &+.radio {
    margin-left: 0.5em;
  }
}



.is-link.input {
  border-color: lighten(@fst-dark-accent, @small-percentage);

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
  }
}

.is-link.textarea {
  border-color: lighten(@fst-dark-accent, @small-percentage);

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
  }
}

.is-link.is-focused.input {
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.is-link.is-focused.textarea {
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.is-link.is-active.input {
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.is-link.is-active.textarea {
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.is-info.input {
  border-color: lighten(@dark-shades, @medium-percentage);

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(50, 152, 220, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(50, 152, 220, 0.25);
  }
}

.is-info.textarea {
  border-color: lighten(@dark-shades, @medium-percentage);

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(50, 152, 220, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(50, 152, 220, 0.25);
  }
}

.is-info.is-focused.input {
  box-shadow: 0 0 0 0.125em rgba(50, 152, 220, 0.25);
}

.is-info.is-focused.textarea {
  box-shadow: 0 0 0 0.125em rgba(50, 152, 220, 0.25);
}

.is-info.is-active.input {
  box-shadow: 0 0 0 0.125em rgba(50, 152, 220, 0.25);
}

.is-info.is-active.textarea {
  box-shadow: 0 0 0 0.125em rgba(50, 152, 220, 0.25);
}

.is-success.input {
  border-color: #48c774;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(72, 199, 116, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(72, 199, 116, 0.25);
  }
}

.is-success.textarea {
  border-color: #48c774;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(72, 199, 116, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(72, 199, 116, 0.25);
  }
}

.is-success.is-focused.input {
  box-shadow: 0 0 0 0.125em rgba(72, 199, 116, 0.25);
}

.is-success.is-focused.textarea {
  box-shadow: 0 0 0 0.125em rgba(72, 199, 116, 0.25);
}

.is-success.is-active.input {
  box-shadow: 0 0 0 0.125em rgba(72, 199, 116, 0.25);
}

.is-success.is-active.textarea {
  box-shadow: 0 0 0 0.125em rgba(72, 199, 116, 0.25);
}

.is-warning.input {
  border-color: #ffdd57;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
  }
}

.is-warning.textarea {
  border-color: #ffdd57;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
  }
}

.is-warning.is-focused.input {
  box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
}

.is-warning.is-focused.textarea {
  box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
}

.is-warning.is-active.input {
  box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
}

.is-warning.is-active.textarea {
  box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
}

.is-danger.input {
  border-color: #f14668;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.25);
  }
}

.is-danger.textarea {
  border-color: #f14668;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.25);
  }
}

.is-danger.is-focused.input {
  box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.25);
}

.is-danger.is-focused.textarea {
  box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.25);
}

.is-danger.is-active.input {
  box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.25);
}

.is-danger.is-active.textarea {
  box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.25);
}

.is-small.input {
  border-radius: 2px;
  font-size: 0.75rem;
}

.is-small.textarea {
  border-radius: 2px;
  font-size: 0.75rem;
}

.is-medium.input {
  font-size: 1.25rem;
}

.is-medium.textarea {
  font-size: 1.25rem;
}

.is-large.input {
  font-size: 1.5rem;
}

.is-large.textarea {
  font-size: 1.5rem;
}

.is-fullwidth.input {
  display: block;
  width: 100%;
}

.is-fullwidth.textarea {
  display: block;
  width: 100%;
}

.is-inline.input {
  display: inline;
  width: auto;
}

.is-inline.textarea {
  display: inline;
  width: auto;
}

.input.is-static {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

.textarea[rows] {
  height: initial;
}

.textarea.has-fixed-size {
  resize: none;
}

.checkbox {
  cursor: pointer;
  display: inline-block;
  line-height: 1.25;
  position: relative;

  input {
    cursor: pointer;
  }

  &:hover {
    color: @dark-shades;
  }
}

.is-hovered.input {
  border-color: #b5b5b5;
}

.is-hovered.textarea {
  border-color: #b5b5b5;
}

.input[readonly] {
  box-shadow: none;
}

.textarea[readonly] {
  box-shadow: none;
}

.is-white.input {
  border-color: lighten(@lighter-shades, @small-percentage);

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
  }
}

.is-white.textarea {
  border-color: lighten(@lighter-shades, @small-percentage);

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
  }
}

.is-white.is-focused.input {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
}

.is-white.is-focused.textarea {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
}

.is-white.is-active.input {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
}

.is-white.is-active.textarea {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
}

.is-black.input {
  border-color: #0a0a0a;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);
  }
}

.is-black.textarea {
  border-color: #0a0a0a;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);
  }
}

.is-black.is-focused.input {
  box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);
}

.is-black.is-focused.textarea {
  box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);
}

.is-black.is-active.input {
  box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);
}

.is-black.is-active.textarea {
  box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);
}

.is-light.input {
  border-color: @lighter-shades;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
  }
}

.is-light.textarea {
  border-color: @lighter-shades;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
  }
}

.is-light.is-focused.input {
  box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
}

.is-light.is-focused.textarea {
  box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
}

.is-light.is-active.input {
  box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
}

.is-light.is-active.textarea {
  box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
}

.is-dark.input {
  border-color: @dark-shades;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
  }
}

.is-dark.textarea {
  border-color: @dark-shades;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
  }
}

.is-dark.is-focused.input {
  box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
}

.is-dark.is-focused.textarea {
  box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
}

.is-dark.is-active.input {
  box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
}

.is-dark.is-active.textarea {
  box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
}

.is-primary.input {
  border-color: @main-brand;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
  }
}

.is-primary.textarea {
  border-color: @main-brand;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
  }
}

.is-primary.is-focused.input {
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}

.is-primary.is-focused.textarea {
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}

.is-primary.is-active.input {
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}

.is-primary.is-active.textarea {
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}

button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
  background-color: @lighter-shades;
  border-color: @light-shades;
  border-width: 1px;
  color: @dark-shades;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;

  &:focus {
    outline: none;
    border-color: @main-brand;
    color: @dark-shades;

    &:not(:active) {
      box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
    }
  }

  &:active {
    outline: none;
    border-color: lighten(@dark-shades, @small-percentage);
    color: @dark-shades;
  }

  strong {
    color: inherit;
  }

  .icon {
    height: 1.5em;
    width: 1.5em;

    &:first-child {
      &:not(:last-child) {
        margin-left: calc(-0.5em - 1px);
        margin-right: 0.25em;
      }

      &:last-child {
        margin-left: calc(-0.5em - 1px);
        margin-right: calc(-0.5em - 1px);
      }
    }

    &:last-child {
      &:not(:first-child) {
        margin-left: 0.25em;
        margin-right: calc(-0.5em - 1px);
      }
    }
  }

  .icon.is-small {
    height: 1.5em;
    width: 1.5em;
  }

  .icon.is-medium {
    height: 1.5em;
    width: 1.5em;
  }

  .icon.is-large {
    height: 1.5em;
    width: 1.5em;
  }

  &:hover {
    border-color: darken(@lighter-shades, @medium-percentage);
    color: @dark-shades;
  }
}

button.is-primary a {
  color: @lighter-shades;

  &:hover {
    color: @lighter-shades;
  }

  &:focus {
    color: @lighter-shades;
  }

  &:active {
    color: @lighter-shades;
  }
}

button.is-primary {
  background-color: @main-brand;
  border-color: transparent;
  color: @lighter-shades;
  transition-duration: @short-transition-duration;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;

  &:hover {
    background-color: @snd-dark-accent;
    border-color: transparent;
    color: @lighter-shades;
  }

  &:focus {
    border-color: transparent;
    color: @lighter-shades;

    &:not(:active) {
      box-shadow: 0 0 0 0.125em rgba(@snd-dark-accent 0.25);
    }
  }

  &:active {
    background-color: darken(@snd-dark-accent, @small-percentage);
    border-color: transparent;
    color: @lighter-shades;
  }
}

button.is-light a {
  color: rgba(darken(@dark-shades, @small-percentage), 0.7);

  &:hover {
    color: rgba(darken(@dark-shades, @small-percentage), 0.7);
  }

  &:focus {
    color: rgba(darken(@dark-shades, @small-percentage), 0.7);
  }

  &:active {
    color: rgba(darken(@dark-shades, @small-percentage), 0.7);
  }
}

button.is-light {
  background-color: lighten(@light-shades, @small-percentage);
  border-color: transparent;
  color: rgba(darken(@dark-shades, @small-percentage), 0.7);
  transition-duration: @short-transition-duration;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;

  &:hover {
    background-color: @light-shades;
    border-color: transparent;
    color: rgba(darken(@dark-shades, @small-percentage), 0.7);
  }

  &:focus {
    border-color: transparent;
    color: rgba(darken(@dark-shades, @small-percentage), 0.7);

    &:not(:active) {
      box-shadow: 0 0 0 0.125em rgba(@lighter-shades, 0.25);
    }
  }

  &:active {
    background-color: darken(@light-shades, @small-percentage);
    border-color: transparent;
    color: rgba(darken(@dark-shades, @small-percentage), 0.7);
  }
}
