@import '../common/style.less';

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: @lighter-shades;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  background: @lighter-shades;
  margin: 0;
  padding: 0;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: @dark-shades;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

* {
  box-sizing: inherit;

  &::before {
    box-sizing: inherit;
  }

  &::after {
    box-sizing: inherit;
  }
}

a {
  &.is-light {
    color: @light-shades;
  }

  color: @main-brand;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;

  strong {
    color: currentColor;
  }
}

a:hover {
  &.is-light {
    color: @lighter-shades;
  }

  text-decoration: underline;
}

small {
  font-size: 0.875em;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  color: #363636;
  font-weight: 700;
}

.is-clearfix {
  &::after {
    clear: both;
    content: " ";
    display: table;
  }
}

.is-pulled-left {
  float: left !important;
}

.is-pulled-right {
  float: right !important;
}

.is-clipped {
  overflow: hidden !important;
}

.is-size-1 {
  font-size: 3rem !important;
}

.is-size-2 {
  font-size: 2.5rem !important;
}

.is-size-3 {
  font-size: 2rem !important;
}

.is-size-4 {
  font-size: 1.5rem !important;
}

.is-size-5 {
  font-size: 1.25rem !important;
}

.is-size-6 {
  font-size: 1rem !important;
}

.is-size-7 {
  font-size: 0.75rem !important;
}

.has-text-centered {
  text-align: center !important;
}

.has-text-justified {
  text-align: justify !important;
}

.has-text-left {
  text-align: left !important;
}

.has-text-right {
  text-align: right !important;
}

.is-capitalized {
  text-transform: capitalize !important;
}

.is-lowercase {
  text-transform: lowercase !important;
}

.is-uppercase {
  text-transform: uppercase !important;
}

.is-italic {
  font-style: italic !important;
}

.has-text-white {
  color: white !important;
}

a.has-text-white {
  &:hover {
    color: #e6e6e6 !important;
  }

  &:focus {
    color: #e6e6e6 !important;
  }
}

.has-background-white {
  background-color: white !important;
}

.has-text-black {
  color: #0a0a0a !important;
}

a.has-text-black {
  &:hover {
    color: black !important;
  }

  &:focus {
    color: black !important;
  }
}

.has-background-black {
  background-color: #0a0a0a !important;
}

.has-text-light {
  color: @lighter-shades !important;
}

a.has-text-light {
  &:hover {
    color: @light-shades !important;
  }

  &:focus {
    color: @light-shades !important;
  }
}

.has-background-light {
  background-color: @lighter-shades !important;
}

.has-text-dark {
  color: @dark-shades !important;
}

a.has-text-dark {
  &:hover {
    color: #1c1c1c !important;
  }

  &:focus {
    color: #1c1c1c !important;
  }
}

.has-background-dark {
  background-color: @dark-shades !important;
}

.has-text-primary {
  color: @main-brand !important;
}

a.has-text-primary {
  &:hover {
    color: darken(@main-brand, @medium-percentage) !important;
  }

  &:focus {
    color: darken(@main-brand, @medium-percentage) !important;
  }
}

.has-background-primary {
  background-color: @main-brand !important;
}

.has-text-link {
  color: @snd-dark-accent !important;
}

a.has-text-link {
  &:hover {
    color: darken(@snd-dark-accent, @medium-percentage) !important;
  }

  &:focus {
    color: darken(@snd-dark-accent, @medium-percentage) !important;
  }
}

.has-background-link {
  background-color: @snd-dark-accent !important;
}

.has-text-info {
  color: @fst-dark-accent !important;
}

a.has-text-info {
  &:hover {
    color: darken(@snd-dark-accent, @medium-percentage) !important;
  }

  &:focus {
    color: darken(@snd-dark-accent, @medium-percentage) !important;
  }
}

.has-background-info {
  background-color: @fst-dark-accent !important;
}

.has-text-success {
  color: #48c774 !important;
}

a.has-text-success {
  &:hover {
    color: #34a85c !important;
  }

  &:focus {
    color: #34a85c !important;
  }
}

.has-background-success {
  background-color: #48c774 !important;
}

.has-text-warning {
  color: #ffdd57 !important;
}

a.has-text-warning {
  &:hover {
    color: #ffd324 !important;
  }

  &:focus {
    color: #ffd324 !important;
  }
}

.has-background-warning {
  background-color: #ffdd57 !important;
}

.has-text-danger {
  color: #f14668 !important;
}

a.has-text-danger {
  &:hover {
    color: #ee1742 !important;
  }

  &:focus {
    color: #ee1742 !important;
  }
}

.has-background-danger {
  background-color: #f14668 !important;
}

.has-text-black-bis {
  color: #121212 !important;
}

.has-background-black-bis {
  background-color: #121212 !important;
}

.has-text-black-ter {
  color: #242424 !important;
}

.has-background-black-ter {
  background-color: #242424 !important;
}

.has-text-grey-darker {
  color: #363636 !important;
}

.has-background-grey-darker {
  background-color: #363636 !important;
}

.has-text-grey-dark {
  color: #4a4a4a !important;
}

.has-background-grey-dark {
  background-color: #4a4a4a !important;
}

.has-text-grey {
  color: #7a7a7a !important;
}

.has-background-grey {
  background-color: #7a7a7a !important;
}

.has-text-grey-light {
  color: #b5b5b5 !important;
}

.has-background-grey-light {
  background-color: #b5b5b5 !important;
}

.has-text-grey-lighter {
  color: #dbdbdb !important;
}

.has-background-grey-lighter {
  background-color: #dbdbdb !important;
}

.has-text-white-ter {
  color: whitesmoke !important;
}

.has-background-white-ter {
  background-color: whitesmoke !important;
}

.has-text-white-bis {
  color: #fafafa !important;
}

.has-background-white-bis {
  background-color: #fafafa !important;
}

.has-text-weight-light {
  font-weight: 300 !important;
}

.has-text-weight-normal {
  font-weight: 400 !important;
}

.has-text-weight-medium {
  font-weight: 500 !important;
}

.has-text-weight-semibold {
  font-weight: 600 !important;
}

.has-text-weight-bold {
  font-weight: 700 !important;
}

.is-family-primary {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

.is-family-secondary {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

.is-family-sans-serif {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

.is-family-monospace {
  font-family: monospace !important;
}

.is-family-code {
  font-family: monospace !important;
}

header {
  padding: 2em;
  border-bottom: 1px solid @light-shades;
  background: @main-brand;
  text-align: center;
}

header a {
  color: @lighter-shades;
}

nav.menu a {
  display: inline-block;
  padding: 0.5em 1em;
}

img.logo {
  width: 160px;
  height: 88px;
  margin-bottom: 1em;
}

hr {
  margin: 0;
  padding: 0;
  background-color: @lighter-shades;
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

h5 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

h6 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

p {
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
  padding: 0;
}

dt {
  margin: 0;
  padding: 0;
}

dd {
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
  display: block;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  margin: 0;
  padding: 0;
}

.content {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  li {
    &+li {
      margin-top: 0.25em;
    }
  }

  p {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  dl {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  ol {
    &:not(:last-child) {
      margin-bottom: 1em;
    }

    list-style-position: outside;
    margin-left: 2em;
    margin-top: 1em;

    &:not([type]) {
      list-style-type: decimal;
    }

    &:not([type]).is-lower-alpha {
      list-style-type: lower-alpha;
    }

    &:not([type]).is-lower-roman {
      list-style-type: lower-roman;
    }

    &:not([type]).is-upper-alpha {
      list-style-type: upper-alpha;
    }

    &:not([type]).is-upper-roman {
      list-style-type: upper-roman;
    }
  }

  ul {
    &:not(:last-child) {
      margin-bottom: 1em;
    }

    list-style: disc outside;
    margin-left: 2em;
    margin-top: 1em;

    ul {
      list-style-type: circle;
      margin-top: 0.5em;

      ul {
        list-style-type: square;
      }
    }
  }

  blockquote {
    &:not(:last-child) {
      margin-bottom: 1em;
    }

    background-color: @lighter-shades;
    border-left: 5px solid @light-shades;
    padding: 1.25em 1.5em;
  }

  pre {
    &:not(:last-child) {
      margin-bottom: 1em;
    }

    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    padding: 1.25em 1.5em;
    white-space: pre;
    word-wrap: normal;
  }

  table {
    &:not(:last-child) {
      margin-bottom: 1em;
    }

    width: 100%;

    td {
      border: 1px solid @light-shades;
      border-width: 0 0 1px;
      padding: 0.5em 0.75em;
      vertical-align: top;
    }

    th {
      border: 1px solid @light-shades;
      border-width: 0 0 1px;
      padding: 0.5em 0.75em;
      vertical-align: top;
      color: @dark-shades;

      &:not([align]) {
        text-align: left;
      }
    }

    thead {
      td {
        border-width: 0 0 2px;
        color: @dark-shades;
      }

      th {
        border-width: 0 0 2px;
        color: @dark-shades;
      }
    }

    tfoot {
      td {
        border-width: 2px 0 0;
        color: @dark-shades;
      }

      th {
        border-width: 2px 0 0;
        color: @dark-shades;
      }
    }

    tbody {
      tr {
        &:last-child {
          td {
            border-bottom-width: 0;
          }

          th {
            border-bottom-width: 0;
          }
        }
      }
    }
  }

  h1 {
    color: @dark-shades;
    font-weight: 600;
    line-height: 1.125;
    font-size: 2em;
    margin-bottom: 0.5em;

    &:not(:first-child) {
      margin-top: 1em;
    }
  }

  h2 {
    color: @dark-shades;
    font-weight: 600;
    line-height: 1.125;
    font-size: 1.75em;
    margin-bottom: 0.5714em;

    &:not(:first-child) {
      margin-top: 1.1428em;
    }
  }

  h3 {
    color: @dark-shades;
    font-weight: 600;
    line-height: 1.125;
    font-size: 1.5em;
    margin-bottom: 0.6666em;

    &:not(:first-child) {
      margin-top: 1.3333em;
    }
  }

  h4 {
    color: @dark-shades;
    font-weight: 600;
    line-height: 1.125;
    font-size: 1.25em;
    margin-bottom: 0.8em;
  }

  h5 {
    color: @dark-shades;
    font-weight: 600;
    line-height: 1.125;
    font-size: 1.125em;
    margin-bottom: 0.8888em;
  }

  h6 {
    color: @dark-shades;
    font-weight: 600;
    line-height: 1.125;
    font-size: 1em;
    margin-bottom: 1em;
  }

  dd {
    margin-left: 2em;
  }

  figure {
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;

    &:not(:first-child) {
      margin-top: 2em;
    }

    &:not(:last-child) {
      margin-bottom: 2em;
    }

    img {
      display: inline-block;
    }

    figcaption {
      font-style: italic;
    }
  }

  sup {
    font-size: 75%;
  }

  sub {
    font-size: 75%;
  }

  .tabs {
    li {
      &+li {
        margin-top: 0;
      }
    }
  }
}

img {
  height: auto;
  max-width: 100%;
  height: auto;
  max-width: 100%;
}

video {
  height: auto;
  max-width: 100%;
}

.notification {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  background-color: @lighter-shades;
  border-radius: 4px;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  position: relative;

  a {
    &:not(.button) {
      &:not(.dropdown-item) {
        color: currentColor;
        text-decoration: underline;
      }
    }
  }

  strong {
    color: currentColor;
  }

  code {
    background: lighten(@lighter-shades, @small-percentage);
  }

  pre {
    background: lighten(@lighter-shades, @small-percentage);

    code {
      background: transparent;
    }
  }

  >.delete {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }

  .title {
    color: currentColor;
  }

  .subtitle {
    color: currentColor;
  }

  .content {
    color: currentColor;
  }
}

.progress {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 290486px;
  display: block;
  height: 1rem;
  overflow: hidden;
  padding: 0;
  width: 100%;

  &::-webkit-progress-bar {
    background-color: lighten(@light-shades, @small-percentage);
  }

  &::-webkit-progress-value {
    background-color: #4a4a4a;
  }

  &::-moz-progress-bar {
    background-color: #4a4a4a;
  }

  &::-ms-fill {
    background-color: #4a4a4a;
    border: none;
  }

  &:indeterminate {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: moveIndeterminate;
    animation-name: moveIndeterminate;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background-color: lighten(@light-shades, @small-percentage);
    background-image: linear-gradient(to right, #4a4a4a 30%, lighten(@light-shades, @small-percentage) 30%);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 150% 150%;

    &::-webkit-progress-bar {
      background-color: transparent;
    }

    &::-moz-progress-bar {
      background-color: transparent;
    }
  }
}

iframe {
  margin: 0;
  padding: 0;
  border: 0;
}

.table {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  background-color: lighten(@lighter-shades, @small-percentage);
  color: #363636;

  td {
    border: 1px solid #dbdbdb;
    border-width: 0 0 1px;
    padding: 0.5em 0.75em;
    vertical-align: top;
  }

  th {
    border: 1px solid #dbdbdb;
    border-width: 0 0 1px;
    padding: 0.5em 0.75em;
    vertical-align: top;
    color: #363636;

    &:not([align]) {
      text-align: left;
    }
  }

  td.is-white {
    background-color: lighten(@lighter-shades, @small-percentage);
    border-color: lighten(@lighter-shades, @small-percentage);
    color: #0a0a0a;
  }

  th.is-white {
    background-color: lighten(@lighter-shades, @small-percentage);
    border-color: lighten(@lighter-shades, @small-percentage);
    color: #0a0a0a;
  }

  td.is-black {
    background-color: #0a0a0a;
    border-color: #0a0a0a;
    color: lighten(@lighter-shades, @small-percentage);
  }

  th.is-black {
    background-color: #0a0a0a;
    border-color: #0a0a0a;
    color: lighten(@lighter-shades, @small-percentage);
  }

  td.is-light {
    background-color: @lighter-shades;
    border-color: @lighter-shades;
    color: rgba(0, 0, 0, 0.7);
  }

  th.is-light {
    background-color: @lighter-shades;
    border-color: @lighter-shades;
    color: rgba(0, 0, 0, 0.7);
  }

  td.is-dark {
    background-color: #363636;
    border-color: #363636;
    color: #fff;
  }

  th.is-dark {
    background-color: #363636;
    border-color: #363636;
    color: #fff;
  }

  td.is-primary {
    background-color: @main-brand;
    border-color: @main-brand;
    color: #fff;
  }

  th.is-primary {
    background-color: @main-brand;
    border-color: @main-brand;
    color: #fff;
  }

  td.is-link {
    background-color: @fst-dark-accent;
    border-color: @fst-dark-accent;
    color: #fff;
  }

  th.is-link {
    background-color: @fst-dark-accent;
    border-color: @fst-dark-accent;
    color: #fff;
  }

  td.is-info {
    background-color: lighten(@fst-dark-accent, @medium-percentage);
    border-color: lighten(@fst-dark-accent, @medium-percentage);
    color: #fff;
  }

  th.is-info {
    background-color: lighten(@fst-dark-accent, @medium-percentage);
    border-color: lighten(@fst-dark-accent, @medium-percentage);
    color: #fff;
  }

  td.is-success {
    background-color: #48c774;
    border-color: #48c774;
    color: #fff;
  }

  th.is-success {
    background-color: #48c774;
    border-color: #48c774;
    color: #fff;
  }

  td.is-warning {
    background-color: #ffdd57;
    border-color: #ffdd57;
    color: rgba(0, 0, 0, 0.7);
  }

  th.is-warning {
    background-color: #ffdd57;
    border-color: #ffdd57;
    color: rgba(0, 0, 0, 0.7);
  }

  td.is-danger {
    background-color: #f14668;
    border-color: #f14668;
    color: #fff;
  }

  th.is-danger {
    background-color: #f14668;
    border-color: #f14668;
    color: #fff;
  }

  td.is-narrow {
    white-space: nowrap;
    width: 1%;
  }

  th.is-narrow {
    white-space: nowrap;
    width: 1%;
  }

  td.is-selected {
    background-color: @main-brand;
    color: #fff;

    a {
      color: currentColor;
    }

    strong {
      color: currentColor;
    }
  }

  th.is-selected {
    background-color: @main-brand;
    color: #fff;

    a {
      color: currentColor;
    }

    strong {
      color: currentColor;
    }
  }

  tr.is-selected {
    background-color: @main-brand;
    color: #fff;

    a {
      color: currentColor;
    }

    strong {
      color: currentColor;
    }

    td {
      border-color: #fff;
      color: currentColor;
    }

    th {
      border-color: #fff;
      color: currentColor;
    }
  }

  thead {
    background-color: transparent;

    td {
      border-width: 0 0 2px;
      color: #363636;
    }

    th {
      border-width: 0 0 2px;
      color: #363636;
    }
  }

  tfoot {
    background-color: transparent;

    td {
      border-width: 2px 0 0;
      color: #363636;
    }

    th {
      border-width: 2px 0 0;
      color: #363636;
    }
  }

  tbody {
    background-color: transparent;

    tr {
      &:last-child {
        td {
          border-bottom-width: 0;
        }

        th {
          border-bottom-width: 0;
        }
      }
    }
  }
}

.table-container {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  -webkit-overflow-scrolling: touch;
  overflow: auto;
  overflow-y: hidden;
  max-width: 100%;
}

.title {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  word-break: break-word;
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;

  em {
    font-weight: inherit;
  }

  span {
    font-weight: inherit;
  }

  sub {
    font-size: 0.75em;
  }

  sup {
    font-size: 0.75em;
  }

  .tag {
    vertical-align: middle;
  }

  strong {
    color: inherit;
    font-weight: inherit;
  }

  &+.highlight {
    margin-top: -0.75rem;
  }

  &:not(.is-spaced) {
    &+.subtitle {
      margin-top: -1.25rem;
    }
  }
}

.subtitle {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  word-break: break-word;
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;

  em {
    font-weight: inherit;
  }

  span {
    font-weight: inherit;
  }

  sub {
    font-size: 0.75em;
  }

  sup {
    font-size: 0.75em;
  }

  .tag {
    vertical-align: middle;
  }

  strong {
    color: #363636;
    font-weight: 600;
  }

  &:not(.is-spaced) {
    &+.title {
      margin-top: -1.25rem;
    }
  }
}

.block {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.highlight {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  font-weight: 400;
  max-width: 100%;
  overflow: hidden;
  padding: 0;

  pre {
    overflow: auto;
    max-width: 100%;
  }
}

code {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
  background-color: @light-shades;
  color: @snd-dark-accent;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em;
  display: inline-block;
}

pre {
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
  -webkit-overflow-scrolling: touch;
  background-color: @light-shades;
  color: @dark-shades;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal;

  code {
    background-color: transparent;
    display: block;
    color: @snd-dark-accent;
    font-size: 1em;
    padding: 0;
  }
}

.before-foot {
  min-height: calc(100vh - (@footer-height + @footer-vertical-padding));
}

.field {
  &:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}

.field.has-addons {
  display: flex;
  justify-content: flex-start;

  .control {
    &:not(:last-child) {
      margin-right: -1px;
    }

    &:not(:first-child) {
      &:not(:last-child) {
        .button {
          border-radius: 0;
        }

        .input {
          border-radius: 0;
        }

        .select {
          select {
            border-radius: 0;
          }
        }
      }
    }

    &:first-child {
      &:not(:only-child) {
        .button {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }

        .input {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }

        .select {
          select {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
          }
        }
      }
    }

    &:last-child {
      &:not(:only-child) {
        .button {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }

        .input {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }

        .select {
          select {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
          }
        }
      }
    }

    .button {
      &:not([disabled]) {
        &:hover {
          z-index: 2;
        }

        &:focus {
          z-index: 3;

          &:hover {
            z-index: 4;
          }
        }

        &:active {
          z-index: 3;

          &:hover {
            z-index: 4;
          }
        }
      }

      &:not([disabled]).is-hovered {
        z-index: 2;
      }

      &:not([disabled]).is-focused {
        z-index: 3;

        &:hover {
          z-index: 4;
        }
      }

      &:not([disabled]).is-active {
        z-index: 3;

        &:hover {
          z-index: 4;
        }
      }
    }

    .input {
      &:not([disabled]) {
        &:hover {
          z-index: 2;
        }

        &:focus {
          z-index: 3;

          &:hover {
            z-index: 4;
          }
        }

        &:active {
          z-index: 3;

          &:hover {
            z-index: 4;
          }
        }
      }

      &:not([disabled]).is-hovered {
        z-index: 2;
      }

      &:not([disabled]).is-focused {
        z-index: 3;

        &:hover {
          z-index: 4;
        }
      }

      &:not([disabled]).is-active {
        z-index: 3;

        &:hover {
          z-index: 4;
        }
      }
    }

    .select {
      select {
        &:not([disabled]) {
          &:hover {
            z-index: 2;
          }

          &:focus {
            z-index: 3;

            &:hover {
              z-index: 4;
            }
          }

          &:active {
            z-index: 3;

            &:hover {
              z-index: 4;
            }
          }
        }

        &:not([disabled]).is-hovered {
          z-index: 2;
        }

        &:not([disabled]).is-focused {
          z-index: 3;

          &:hover {
            z-index: 4;
          }
        }

        &:not([disabled]).is-active {
          z-index: 3;

          &:hover {
            z-index: 4;
          }
        }
      }
    }
  }

  .control.is-expanded {
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.field.has-addons.has-addons-centered {
  justify-content: center;
}

.field.has-addons.has-addons-right {
  justify-content: flex-end;
}

.field.has-addons.has-addons-fullwidth {
  .control {
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.field.is-grouped {
  display: flex;
  justify-content: flex-start;

  >.control {
    flex-shrink: 0;

    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 0.75rem;
    }
  }

  >.control.is-expanded {
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.field.is-grouped.is-grouped-centered {
  justify-content: center;
}

.field.is-grouped.is-grouped-right {
  justify-content: flex-end;
}

.field.is-grouped.is-grouped-multiline {
  flex-wrap: wrap;

  >.control {
    &:last-child {
      margin-bottom: 0.75rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }

  &:last-child {
    margin-bottom: -0.75rem;
  }

  &:not(:last-child) {
    margin-bottom: 0;
  }
}

.field-label {
  .label {
    font-size: inherit;
  }
}

.field-body {
  .field {
    .field {
      margin-bottom: 0;
    }
  }
}

.control {
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: left;
}

.control.has-icons-left {
  .input {
    &:focus {
      &~.icon {
        color: lighten(@dark-shades, @medium-percentage);
      }
    }

    padding-left: 2.5em;
  }

  .select {
    &:focus {
      &~.icon {
        color: lighten(@dark-shades, @medium-percentage);
      }
    }

    select {
      padding-left: 2.5em;
    }
  }

  .input.is-small {
    &~.icon {
      font-size: 0.75rem;
    }
  }

  .select.is-small {
    &~.icon {
      font-size: 0.75rem;
    }
  }

  .input.is-medium {
    &~.icon {
      font-size: 1.25rem;
    }
  }

  .select.is-medium {
    &~.icon {
      font-size: 1.25rem;
    }
  }

  .input.is-large {
    &~.icon {
      font-size: 1.5rem;
    }
  }

  .select.is-large {
    &~.icon {
      font-size: 1.5rem;
    }
  }

  .icon {
    color: @light-shades;
    height: 2.5em;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 2.5em;
    z-index: 4;
  }

  .icon.is-left {
    left: 0;
  }
}

.control.has-icons-right {
  .input {
    &:focus {
      &~.icon {
        color: lighten(@dark-shades, @medium-percentage);
      }
    }

    padding-right: 2.5em;
  }

  .select {
    &:focus {
      &~.icon {
        color: lighten(@dark-shades, @medium-percentage);
      }
    }

    select {
      padding-right: 2.5em;
    }
  }

  .input.is-small {
    &~.icon {
      font-size: 0.75rem;
    }
  }

  .select.is-small {
    &~.icon {
      font-size: 0.75rem;
    }
  }

  .input.is-medium {
    &~.icon {
      font-size: 1.25rem;
    }
  }

  .select.is-medium {
    &~.icon {
      font-size: 1.25rem;
    }
  }

  .input.is-large {
    &~.icon {
      font-size: 1.5rem;
    }
  }

  .select.is-large {
    &~.icon {
      font-size: 1.5rem;
    }
  }

  .icon {
    color: @light-shades;
    height: 2.5em;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 2.5em;
    z-index: 4;
  }

  .icon.is-right {
    right: 0;
  }
}

.control.is-loading.is-small {
  &:after {
    font-size: 0.75rem;
  }
}

.control.is-loading.is-medium {
  &:after {
    font-size: 1.25rem;
  }
}

.control.is-loading.is-large {
  &:after {
    font-size: 1.5rem;
  }
}

.radio {
  cursor: pointer;
  display: inline-block;
  line-height: 1.25;
  position: relative;

  input {
    cursor: pointer;
  }

  &:hover {
    color: @dark-shades;
  }

  &+.radio {
    margin-left: 0.5em;
  }
}

.is-link.input {
  border-color: lighten(@fst-dark-accent, @small-percentage);

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
  }
}

.is-link.textarea {
  border-color: lighten(@fst-dark-accent, @small-percentage);

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
  }
}

.is-link.is-focused.input {
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.is-link.is-focused.textarea {
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.is-link.is-active.input {
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.is-link.is-active.textarea {
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.is-info.input {
  border-color: lighten(@dark-shades, @medium-percentage);

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(50, 152, 220, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(50, 152, 220, 0.25);
  }
}

.is-info.textarea {
  border-color: lighten(@dark-shades, @medium-percentage);

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(50, 152, 220, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(50, 152, 220, 0.25);
  }
}

.is-info.is-focused.input {
  box-shadow: 0 0 0 0.125em rgba(50, 152, 220, 0.25);
}

.is-info.is-focused.textarea {
  box-shadow: 0 0 0 0.125em rgba(50, 152, 220, 0.25);
}

.is-info.is-active.input {
  box-shadow: 0 0 0 0.125em rgba(50, 152, 220, 0.25);
}

.is-info.is-active.textarea {
  box-shadow: 0 0 0 0.125em rgba(50, 152, 220, 0.25);
}

.is-success.input {
  border-color: #48c774;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(72, 199, 116, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(72, 199, 116, 0.25);
  }
}

.is-success.textarea {
  border-color: #48c774;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(72, 199, 116, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(72, 199, 116, 0.25);
  }
}

.is-success.is-focused.input {
  box-shadow: 0 0 0 0.125em rgba(72, 199, 116, 0.25);
}

.is-success.is-focused.textarea {
  box-shadow: 0 0 0 0.125em rgba(72, 199, 116, 0.25);
}

.is-success.is-active.input {
  box-shadow: 0 0 0 0.125em rgba(72, 199, 116, 0.25);
}

.is-success.is-active.textarea {
  box-shadow: 0 0 0 0.125em rgba(72, 199, 116, 0.25);
}

.is-warning.input {
  border-color: #ffdd57;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
  }
}

.is-warning.textarea {
  border-color: #ffdd57;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
  }
}

.is-warning.is-focused.input {
  box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
}

.is-warning.is-focused.textarea {
  box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
}

.is-warning.is-active.input {
  box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
}

.is-warning.is-active.textarea {
  box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
}

.is-danger.input {
  border-color: #f14668;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.25);
  }
}

.is-danger.textarea {
  border-color: #f14668;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.25);
  }
}

.is-danger.is-focused.input {
  box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.25);
}

.is-danger.is-focused.textarea {
  box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.25);
}

.is-danger.is-active.input {
  box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.25);
}

.is-danger.is-active.textarea {
  box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.25);
}

.is-small.input {
  border-radius: 2px;
  font-size: 0.75rem;
}

.is-small.textarea {
  border-radius: 2px;
  font-size: 0.75rem;
}

.is-medium.input {
  font-size: 1.25rem;
}

.is-medium.textarea {
  font-size: 1.25rem;
}

.is-large.input {
  font-size: 1.5rem;
}

.is-large.textarea {
  font-size: 1.5rem;
}

.is-fullwidth.input {
  display: block;
  width: 100%;
}

.is-fullwidth.textarea {
  display: block;
  width: 100%;
}

.is-inline.input {
  display: inline;
  width: auto;
}

.is-inline.textarea {
  display: inline;
  width: auto;
}

.input.is-static {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

.textarea[rows] {
  height: initial;
}

.textarea.has-fixed-size {
  resize: none;
}

.checkbox {
  cursor: pointer;
  display: inline-block;
  line-height: 1.25;
  position: relative;

  input {
    cursor: pointer;
  }

  &:hover {
    color: @dark-shades;
  }
}

.is-hovered.input {
  border-color: #b5b5b5;
}

.is-hovered.textarea {
  border-color: #b5b5b5;
}

.input[readonly] {
  box-shadow: none;
}

.textarea[readonly] {
  box-shadow: none;
}

.is-white.input {
  border-color: lighten(@lighter-shades, @small-percentage);

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
  }
}

.is-white.textarea {
  border-color: lighten(@lighter-shades, @small-percentage);

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
  }
}

.is-white.is-focused.input {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
}

.is-white.is-focused.textarea {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
}

.is-white.is-active.input {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
}

.is-white.is-active.textarea {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
}

.is-black.input {
  border-color: #0a0a0a;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);
  }
}

.is-black.textarea {
  border-color: #0a0a0a;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);
  }
}

.is-black.is-focused.input {
  box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);
}

.is-black.is-focused.textarea {
  box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);
}

.is-black.is-active.input {
  box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);
}

.is-black.is-active.textarea {
  box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);
}

.is-light.input {
  border-color: @lighter-shades;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
  }
}

.is-light.textarea {
  border-color: @lighter-shades;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
  }
}

.is-light.is-focused.input {
  box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
}

.is-light.is-focused.textarea {
  box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
}

.is-light.is-active.input {
  box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
}

.is-light.is-active.textarea {
  box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
}

.is-dark.input {
  border-color: @dark-shades;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
  }
}

.is-dark.textarea {
  border-color: @dark-shades;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
  }
}

.is-dark.is-focused.input {
  box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
}

.is-dark.is-focused.textarea {
  box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
}

.is-dark.is-active.input {
  box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
}

.is-dark.is-active.textarea {
  box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
}

.is-primary.input {
  border-color: @main-brand;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
  }
}

.is-primary.textarea {
  border-color: @main-brand;

  &:focus {
    box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
  }

  &:active {
    box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
  }
}

.is-primary.is-focused.input {
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}

.is-primary.is-focused.textarea {
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}

.is-primary.is-active.input {
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}

.is-primary.is-active.textarea {
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}

.list {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1),
  0 0 0 1px rgba(10, 10, 10, 0.1);
}

.message {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  background-color: whitesmoke;
  border-radius: 4px;
  font-size: 1rem;

  strong {
    color: currentColor;
  }

  a {
    &:not(.button) {
      &:not(.tag) {
        &:not(.dropdown-item) {
          color: currentColor;
          text-decoration: underline;
        }
      }
    }
  }
}


.is-small.delete {
  height: 16px;
  max-height: 16px;
  max-width: 16px;
  min-height: 16px;
  min-width: 16px;
  width: 16px;
}


.is-medium.delete {
  height: 24px;
  max-height: 24px;
  max-width: 24px;
  min-height: 24px;
  min-width: 24px;
  width: 24px;
}

.is-medium.modal-close {
  height: 24px;
  max-height: 24px;
  max-width: 24px;
  min-height: 24px;
  min-width: 24px;
  width: 24px;
}

.is-large.delete {
  height: 32px;
  max-height: 32px;
  max-width: 32px;
  min-height: 32px;
  min-width: 32px;
  width: 32px;
}

.is-large.modal-close {
  height: 32px;
  max-height: 32px;
  max-width: 32px;
  min-height: 32px;
  min-width: 32px;
  width: 32px;
}

.button.is-loading {
  &::after {
    -webkit-animation: spinAround 500ms infinite linear;
    animation: spinAround 500ms infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    position: relative;
    width: 1em;
    position: absolute;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
    position: absolute !important;
  }

  color: transparent !important;
  pointer-events: none;
}

.loader {
  -webkit-animation: spinAround 500ms infinite linear;
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
}

.select.is-loading {
  &::after {
    -webkit-animation: spinAround 500ms infinite linear;
    animation: spinAround 500ms infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    position: relative;
    width: 1em;
    margin-top: 0;
    position: absolute;
    right: 0.625em;
    top: 0.625em;
    transform: none;
  }
}

.control.is-loading {
  &::after {
    -webkit-animation: spinAround 500ms infinite linear;
    animation: spinAround 500ms infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    position: relative;
    width: 1em;
    position: absolute !important;
    right: 0.625em;
    top: 0.625em;
    z-index: 4;
  }
}

.is-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.image.is-square {
  img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .has-ratio {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  padding-top: 100%;
}

.image.is-1by1 {
  img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .has-ratio {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  padding-top: 100%;
}

.image.is-5by4 {
  img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .has-ratio {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  padding-top: 80%;
}

.image.is-4by3 {
  img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .has-ratio {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  padding-top: 75%;
}

.image.is-3by2 {
  img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .has-ratio {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  padding-top: 66.6666%;
}

.image.is-5by3 {
  img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .has-ratio {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  padding-top: 60%;
}

.image.is-16by9 {
  img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .has-ratio {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  padding-top: 56.25%;
}

.image.is-2by1 {
  img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .has-ratio {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  padding-top: 50%;
}

.image.is-3by1 {
  img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .has-ratio {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  padding-top: 33.3333%;
}

.image.is-4by5 {
  img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .has-ratio {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  padding-top: 125%;
}

.image.is-3by4 {
  img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .has-ratio {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  padding-top: 133.3333%;
}

.image.is-2by3 {
  img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .has-ratio {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  padding-top: 150%;
}

.image.is-3by5 {
  img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .has-ratio {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  padding-top: 166.6666%;
}

.image.is-9by16 {
  img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .has-ratio {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  padding-top: 177.7777%;
}

.image.is-1by2 {
  img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .has-ratio {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  padding-top: 200%;
}

.image.is-1by3 {
  img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .has-ratio {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  padding-top: 300%;
}

.loader {
  -webkit-animation: spinAround 500ms infinite linear;
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
}

button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
  background-color: @lighter-shades;
  border-color: @light-shades;
  border-width: 1px;
  color: @dark-shades;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;

  &:focus {
    outline: none;
    border-color: @main-brand;
    color: @dark-shades;

    &:not(:active) {
      box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
    }
  }

  &:active {
    outline: none;
    border-color: lighten(@dark-shades, @small-percentage);
    color: @dark-shades;
  }

  strong {
    color: inherit;
  }

  .icon {
    height: 1.5em;
    width: 1.5em;

    &:first-child {
      &:not(:last-child) {
        margin-left: calc(-0.5em - 1px);
        margin-right: 0.25em;
      }

      &:last-child {
        margin-left: calc(-0.5em - 1px);
        margin-right: calc(-0.5em - 1px);
      }
    }

    &:last-child {
      &:not(:first-child) {
        margin-left: 0.25em;
        margin-right: calc(-0.5em - 1px);
      }
    }
  }

  .icon.is-small {
    height: 1.5em;
    width: 1.5em;
  }

  .icon.is-medium {
    height: 1.5em;
    width: 1.5em;
  }

  .icon.is-large {
    height: 1.5em;
    width: 1.5em;
  }

  &:hover {
    border-color: darken(@lighter-shades, @medium-percentage);
    color: @dark-shades;
  }
}

button.is-primary a {
  color: @lighter-shades;

  &:hover {
    color: @lighter-shades;
  }

  &:focus {
    color: @lighter-shades;
  }

  &:active {
    color: @lighter-shades;
  }
}

button.is-primary {
  background-color: @main-brand;
  border-color: transparent;
  color: @lighter-shades;
  transition-duration: @short-transition-duration;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;

  &:hover {
    background-color: @snd-dark-accent;
    border-color: transparent;
    color: @lighter-shades;
  }

  &:focus {
    border-color: transparent;
    color: @lighter-shades;

    &:not(:active) {
      box-shadow: 0 0 0 0.125em rgba(@snd-dark-accent 0.25);
    }
  }

  &:active {
    background-color: darken(@snd-dark-accent, @small-percentage);
    border-color: transparent;
    color: @lighter-shades;
  }
}

button.is-light a {
  color: rgba(darken(@dark-shades, @small-percentage), 0.7);

  &:hover {
    color: rgba(darken(@dark-shades, @small-percentage), 0.7);
  }

  &:focus {
    color: rgba(darken(@dark-shades, @small-percentage), 0.7);
  }

  &:active {
    color: rgba(darken(@dark-shades, @small-percentage), 0.7);
  }
}

button.is-light {
  background-color: lighten(@light-shades, @small-percentage);
  border-color: transparent;
  color: rgba(darken(@dark-shades, @small-percentage), 0.7);
  transition-duration: @short-transition-duration;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;

  &:hover {
    background-color: @light-shades;
    border-color: transparent;
    color: rgba(darken(@dark-shades, @small-percentage), 0.7);
  }

  &:focus {
    border-color: transparent;
    color: rgba(darken(@dark-shades, @small-percentage), 0.7);

    &:not(:active) {
      box-shadow: 0 0 0 0.125em rgba(@lighter-shades, 0.25);
    }
  }

  &:active {
    background-color: darken(@light-shades, @small-percentage);
    border-color: transparent;
    color: rgba(darken(@dark-shades, @small-percentage), 0.7);
  }
}
