section class=Object.keys(input.classes || []).concat("hero").join(" ")
  div class="hero-body"
    div class="container"
      <${input.contentAbove}/>
      h1 class="title" -- <${input.title}/>
      h2 class="subtitle" -- <${input.subtitle}/>
      <${input.contentBelow}/>
