section class=Object.keys(input.classes || []).concat("card").join(" ")
  div class="card"
    div class="header"
      <${input.contentCardHeader}/>
    div class="image"
      <${input.contentCardImage}/>
    div class="content"
      <${input.contentCardContent}/>
    div class="footer"
      <${input.contentCardFooter}/>
