section class=Object.keys(input.classes || []).concat("card").join(" ")
  div class="card"
    div class="header"
      <${input.contentAbove}/>
      <${input.contentBelow}/>
    div class="image"
      <${input.contentAbove}/>
      <${input.contentBelow}/>
    div class="content"
      <${input.contentAbove}/>
      <${input.contentBelow}/>
    div class="footer"
      <${input.contentAbove}/>
      <${input.contentBelow}/>
