site-layout
  @title -- 404
  @content
    hero
      @classes is-full-height is-primary is-bold
      @title -- Erro 404
      @contentBelow
        div
          div class = "columns"
            div class="column"
              p
                ---
                Opa! Parece que você está tentando acessar uma página que não existe! Por favor, selecione uma página existente no menu. 
                ---
              