div class="card"
  div class="card-header"
    <${input.header}/>
  div class="card-image"
    figure class=Object.keys(input.imageClasses || []).concat("image").join(" ")
    <${input.image}/>
  div class="card-content"
    <${input.content}/>
  div class="card-footer"
    <${input.footer}/>
