div class="card"
  div class="card-header"
    <${input.contentCardHeader}/>
  div class="card-image"
    figure class=Object.keys(input.imageClasses || []).concat("image").join(" ")
    <${input.contentCardImage}/>
  div class="card-content"
    <${input.contentCardContent}/>
  div class="card-footer"
    <${input.contentCardFooter}/>
