@import '../common/style.less';

footer {
  >.links {
    display: block;
  }

  .links {
    min-width: 300px;
    max-width: 450px;
    padding: 1rem 0 1rem;
    margin: auto;
    align-items: center;
    display: flex;
    font-size: 0.95rem;

    img {
      height: 1rem;
    }

    a {
      width: 24%;
    }

    .footer-image {
      width: 4%;
    }
  }

  color: @lighter-shades;
  background: @main-brand;
  text-align: center;
  vertical-align: middle;
  height: @footer-height;
  padding: @footer-padding;
}
