site-layout
  @title -- Aviso Legal
  @content
    hero
      @classes is-medium is-primary is-bold
      @title -- Aviso Legal
      @contentBelow
        div
          div class = "columns"
            div class="column"
              p
                ---
                Estamos procurando um advogado para preparar isso. Mas a gente usa cookies, viu? 
                ---
              